/Library
/Temp
/Export
/Assets/Ceramic/Scripts
/Assets/Ceramic/Resources/assets
/Assets/Ceramic/Resources/lookup_i.txt
/Assets/Ceramic/Resources/lookup_i.txt.meta
/Assets/Ceramic/Resources/lookup_s.txt
/Assets/Ceramic/Resources/lookup_s.txt.meta