[submodule "git/linc_timestamp"]
	path = git/linc_timestamp
	url = https://github.com/ceramic-engine/linc_timestamp.git
[submodule "git/linc_stb"]
	path = git/linc_stb
	url = https://github.com/ceramic-engine/linc_stb.git
[submodule "git/linc_ogg"]
	path = git/linc_ogg
	url = https://github.com/ceramic-engine/linc_ogg.git
[submodule "git/linc_opengl"]
	path = git/linc_opengl
	url = https://github.com/ceramic-engine/linc_opengl.git
[submodule "git/spine-hx"]
	path = git/spine-hx
	url = https://github.com/jeremyfa/spine-hx.git
[submodule "git/polyline"]
	path = git/polyline
	url = https://github.com/jeremyfa/polyline.git
[submodule "git/generate"]
	path = git/generate
	url = https://github.com/jeremyfa/generate.git
[submodule "git/format-tiled"]
	path = git/format-tiled
	url = https://github.com/ceramic-engine/format-tiled.git
[submodule "git/arcade"]
	path = git/arcade
	url = https://github.com/jeremyfa/arcade.git
	branch = master
[submodule "git/haxe-binary"]
	path = git/haxe-binary
	url = https://github.com/ceramic-engine/haxe-binary.git
[submodule "git/akifox-asynchttp"]
	path = git/akifox-asynchttp
	url = https://github.com/ceramic-engine/akifox-asynchttp.git
[submodule "git/nape"]
	path = git/nape
	url = https://github.com/ceramic-engine/nape.git
[submodule "git/differ"]
	path = git/differ
	url = https://github.com/ceramic-engine/differ.git
[submodule "git/hsluv"]
	path = git/hsluv
	url = https://github.com/ceramic-engine/hsluv.git
[submodule "git/tracker"]
	path = git/tracker
	url = https://github.com/jeremyfa/tracker.git
[submodule "git/linc_dialogs"]
	path = git/linc_dialogs
	url = https://github.com/ceramic-engine/linc_dialogs.git
[submodule "git/clay"]
	path = git/clay
	url = https://github.com/ceramic-engine/clay.git
[submodule "git/imgui-hx"]
	path = git/imgui-hx
	url = https://github.com/jeremyfa/imgui-hx.git
[submodule "git/gif"]
	path = git/gif
	url = https://github.com/ceramic-engine/gif.git
[submodule "git/hxWebSockets"]
	path = git/hxWebSockets
	url = https://github.com/ceramic-engine/hxWebSockets.git
[submodule "git/linc_rtmidi"]
	path = git/linc_rtmidi
	url = https://github.com/ceramic-engine/linc_rtmidi.git
[submodule "git/linc_soloud"]
	path = git/linc_soloud
	url = https://github.com/jeremyfa/linc_soloud.git
[submodule "git/hxnodejs-ws"]
	path = git/hxnodejs-ws
	url = https://github.com/ceramic-engine/hxnodejs-ws.git
[submodule "git/bin-packing"]
	path = git/bin-packing
	url = https://github.com/ceramic-engine/bin-packing.git
[submodule "git/hscript"]
	path = git/hscript
	url = https://github.com/ceramic-engine/hscript.git
[submodule "git/ase"]
	path = git/ase
	url = https://github.com/ceramic-engine/ase.git
[submodule "git/bind"]
	path = git/bind
	url = https://github.com/jeremyfa/bind.git
[submodule "git/hxnodejs"]
	path = git/hxnodejs
	url = https://github.com/ceramic-engine/hxnodejs.git
[submodule "git/format"]
	path = git/format
	url = https://github.com/ceramic-engine/format.git
[submodule "git/fuzzaldrin"]
	path = git/fuzzaldrin
	url = https://github.com/jeremyfa/fuzzaldrin.git
[submodule "git/hxcpp"]
	path = git/hxcpp
	url = https://github.com/ceramic-engine/hxcpp.git
[submodule "git/linc_process"]
	path = git/linc_process
	url = https://github.com/jeremyfa/linc_process.git
[submodule "git/msdf-atlas-gen-binary"]
	path = git/msdf-atlas-gen-binary
	url = https://github.com/jeremyfa/msdf-atlas-gen-binary.git
[submodule "git/loreline"]
	path = git/loreline
	url = https://github.com/jeremyfa/loreline.git
[submodule "git/yaml"]
	path = git/yaml
	url = https://github.com/jeremyfa/yaml.git
[submodule "git/SDL"]
	path = git/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "git/build-sdl3"]
	path = git/build-sdl3
	url = https://github.com/jeremyfa/build-sdl3.git
[submodule "git/reflaxe.CPP"]
	path = git/reflaxe.CPP
	url = https://github.com/SomeRanDev/reflaxe.CPP.git
[submodule "git/reflaxe"]
	path = git/reflaxe
	url = https://github.com/SomeRanDev/reflaxe.git
[submodule "git/shade"]
	path = git/shade
	url = https://github.com/ceramic-engine/shade.git
