[submodule "git/linc_openal"]
	path = git/linc_openal
	url = https://github.com/ceramic-engine/linc_openal.git
	branch = master
[submodule "git/linc_timestamp"]
	path = git/linc_timestamp
	url = https://github.com/ceramic-engine/linc_timestamp.git
	branch = master
[submodule "git/linc_stb"]
	path = git/linc_stb
	url = https://github.com/ceramic-engine/linc_stb.git
	branch = master
[submodule "git/linc_ogg"]
	path = git/linc_ogg
	url = https://github.com/ceramic-engine/linc_ogg.git
	branch = master
[submodule "git/linc_sdl"]
	path = git/linc_sdl
	url = https://github.com/ceramic-engine/linc_sdl.git
	branch = master
[submodule "git/linc_opengl"]
	path = git/linc_opengl
	url = https://github.com/ceramic-engine/linc_opengl.git
	branch = master
[submodule "git/snow"]
	path = git/snow
	url = https://github.com/ceramic-engine/snow.git
	branch = master
[submodule "git/flow"]
	path = git/flow
	url = https://github.com/ceramic-engine/flow.git
	branch = master
[submodule "git/luxe"]
	path = git/luxe
	url = https://github.com/ceramic-engine/luxe.git
	branch = master
[submodule "git/spine-hx"]
	path = git/spine-hx
	url = https://github.com/jeremyfa/spine-hx.git
[submodule "git/polyline"]
	path = git/polyline
	url = https://github.com/jeremyfa/polyline.git
	branch = master
[submodule "git/generate"]
	path = git/generate
	url = https://github.com/jeremyfa/generate.git
	branch = master
[submodule "git/earcut"]
	path = git/earcut
	url = https://github.com/ceramic-engine/earcut.git
	branch = master
[submodule "git/format-tiled"]
	path = git/format-tiled
	url = https://github.com/ceramic-engine/format-tiled.git
	branch = master
[submodule "git/arcade"]
	path = git/arcade
	url = https://github.com/jeremyfa/arcade.git
	branch = master
[submodule "git/haxe-binary"]
	path = git/haxe-binary
	url = https://github.com/ceramic-engine/haxe-binary.git
	branch = master
