/tools/bin
/tools/completion.hxml
/tools/ios.project
/tools/index.js
/tools/tools-luxe.js.map
/tools/tools-luxe.js
/tools/index.js.map
/tools/node_modules
/tools/sample/out
/tools/sample/completion.hxml
/tools/sample/.vscode
/tools/.vscode/tasks.json

/editor/node_modules
/editor/coverage
/editor/build
/editor/public/ceramic
/editor/out
/editor/ceramic/out
/editor/ceramic/completion.hxml
/editor/dist
/editor/vendor/node

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
xcuserdata
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

plugin-build.hxml
/runner/node_modules
/plugins/android/
/.haxelib
completion.hxml
