
/tools/bin
/tools/completion.hxml
/tools/ios.project
/tools/index.js
/tools/tools-luxe.js.map
/tools/tools-luxe.js
/tools/index.js.map
/tools/node_modules
/tools/sample/out
/tools/sample/completion.hxml
/tools/sample/.vscode
/tools/.vscode/tasks.json
/tools/vendor/mac/haxe
/tools/vendor/mac/neko
/tools/vendor/windows/haxe
/tools/vendor/windows/neko

/editor/node_modules
/editor/coverage
/editor/build
/editor/public/ceramic
/editor/out
/editor/ceramic/out
/editor/ceramic/completion.hxml
/editor/dist
/editor/vendor/node

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
xcuserdata

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/sample/out
/sample/.vscode/tasks.json
/sample/completion.hxml
