/bin
/completion.hxml
.DS_Store
/ios.project
/index.js
/tools-luxe.js.map
/tools-luxe.js
/index.js.map
/node_modules
/sample/out
/sample/completion.hxml
/sample/.vscode
/.vscode/tasks.json
xcuserdata
