body, html {
    background-color: #282828 !important;
}

#body {
    background-color: #282828;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#body *:not(input):not(textarea):not(.selectable)  {
    -webkit-user-select: none;
    user-select: none;
}

#body div,
#body span,
#body input,
#body label,
#body button,
#body i,
#body textarea,
#body select {
    font-family: sans-serif;
    color: #f3f3f3;
    cursor: default;
    -webkit-font-smoothing: subpixel-antialiased;
}

#body .nolabel label {
    display: none;
}

#body .topnav {
    background-color: #4f4f4f;
    border-bottom: 1px solid #383838;
    font-size: 13px;
}

#body .statusbar {
    background-color: #4f4f4f;
    border-top: 1px solid #383838;
}

#body .statusbar .statusbar-text {
    font-size: 9px;
    line-height: 9px;
    vertical-align: middle;
    position: absolute;
    left: 4px;
    top: 4px;
}

#body .statusbar .statusbar-text .separator {
    display: inline-block;
    margin: 0 8px 0 9px;
    border-right: 1px solid #666666;
    height: 5px;
}

#body .leftside {
    background-color: #4f4f4f;
    border-right: 1px solid #383838;
}

#body .rightside {
    background-color: #4f4f4f;
    border-left: 1px solid #383838;
    min-height: 100%;
}

/* Panel tabs */

#body .tabs {
    background-color: #424242;
}

#body .tabs .tab {
    background-color: #4f4f4f;
    display: inline-block;
    padding: 7px 10px 6px 10px;
    border-right: 1px solid #383838;
    border-bottom: 1px solid #4f4f4f;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 1px;
    margin-top: -1px;
    font-size: 12px;
}

#body .tabs .tab:not(.active) {
    background-color: #424242;
    color: #b0b0b0;
    border-bottom: 1px solid #383838;
}

#body .tabs .tab:not(.active):hover {
    background-color: #464646;
    color: #d0d0d0;
}

#body .tabs .panel {
    border-top: 1px solid #383838;
    background-color: #4f4f4f;
}

#body .tabs .panel .title {
    border-bottom: 1px solid #444444;
    padding: 6px 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#body .tabs .panel .alt {
    background-color: #4a4a4a;
    border-bottom: 1px solid #444444;
    font-size: 9px;
}

#body .entry {
    padding: 6px 10px;
}

#body .entry.in-alt {
    background-color: #4a4a4a;
}

#body .entry.with-separator {
    border-bottom: 1px solid #444444;
}

#body .entry:hover {
    background-color: #4f4f4f;
}

#body .sortable-item.dragging .entry {
    border-top: 1px solid #444444;
    background-color: #4f4f4f;
}

#body .entry.selected {
    background-color: #4f4f4f;
    border-left: 2px solid #FF0000;
    padding-left: 8px;
}

#body .entry .name {
    font-size: 11px;
    margin-bottom: 3px;
}

#body .entry .info {
    font-size: 9px;
    font-style: italic;
    color: #888888;
}

/* Locked entry */

#body .entry .lock {
    color: #888888;
    cursor: pointer;
}

#body .entry .lock:hover {
    color: #bababa;
}

#body .entry .lock:active {
    color: #dedede;
}

#body .entry.locked.in-alt {
    background-color: #444444;
}

#body .entry.locked .lock {
    color: white;
}

#body .entry.locked .lock:hover {
    color: #dedede;
}

#body .entry.locked .name {
    color: #888888;
}

#body .entry.locked .info {
    color: #666666;
}

#body .tabs .panel form {
    padding: 14px 10px;
}

#body form .visual-extra-options {
    display: block;
    padding: 0 10px 10px 10px;
    margin: 0 -10px 14px -10px;
    border-bottom: 1px solid #444;
}

/* Input */

#body .field {
    display: block;
    margin-bottom: 4px;
}

#body .field label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-top: 4px;
    margin-right: 10px;
    font-size: 11px;
    vertical-align: top;
}

#body .field.disabled label {
    color: #999999;
}

#body .field:not(.with-label) {
    margin-left: 100px;
}

#body .field .field-input {
    display: inline-block;
}

#body .large .field.custom .field-input {
    font-size: 10px;
    width: 370px;
    text-align: left;
}

#body .large .field label {
    width: 120px;
}

#body input.input, #body select.input, #body textarea.input {
    outline: none;
    font-size: 10px;
    min-height: 16px;
    border-radius: 0;
}

#body input.input {
    padding: 0px 4px 0px 4px;
}

#body input.input::placeholder {
    color: #777777;
}

#body textarea.input::placeholder {
    color: #777777;
}

#body input.input:focus::placeholder {
    visibility: hidden;
}

#body textarea.input:focus::placeholder {
    visibility: hidden;
}

#body textarea.input {
    padding: 3px 4px 0px 4px;
    margin-bottom: -2px;
}

#body textarea.input.windows {
    padding-top: 5px;
}

#body input.input, #body .input-select-container, #body textarea.input {
    background-color: #454545;
    border: 1px solid #666666;
    height: 19px;
}

#body input.input.disabled {
    color: #bbbbbb;
    border-color: #555555;
}

#body select.input {
    background-color: transparent;
    border: none;
    padding: 1px 0px 0px 0px;
    margin-left: -4px;
    height: 19px;
}

#body input.input::selection, #body select.input::selection, #body textarea.input::selection {
    background-color: #2798eb;
}

/* Text/Number/Color */

#body input.input.input-text,
#body input.input.input-number,
#body input.input.input-color {
    cursor: text;
}

#body input.input.input-text,
#body input.input.input-number,
#body input.input.input-color {
    width: 140px;
}

#body textarea.input.input-text {
    cursor: text;
    width: 140px;
}

#body textarea.input.input-text:focus,
#body input.input.input-text:focus,
#body input.input.input-number:focus,
#body input.input.input-color:focus,
#body .input-select-container.focus {
    border-color: #2798eb;
}

/* Color preview */

#body .input-color-container {
    position: relative;
}

#body .input-color-container .color-preview {
    position: absolute;
    left: 134px;
    top: 5px;
    width: 11px;
    height: 11px;
}

/* Button */

#body input.input.input-button {
    padding: 3px 8px 4px 8px;
    min-width: 80px;
    height: 24px;
}

#body input.input.input-button.default {
    background-color: transparent;
    border: 1px solid #777777;
}

#body input.input.input-button.default:not(.disabled):hover {
    background-color: rgba(255,255,255,0.05);
    border: 1px solid #7c7c7c;
}

#body input.input.input-button.dashed {
    background-color: transparent;
    border: 1px dashed #999999;
}

#body input.input.input-button.dashed:not(.disabled):hover {
    background-color: rgba(255,255,255,0.05);
    border: 1px dashed #9e9e9e;
}

#body input.input.input-button.square {
    background-color: #343434;
    border: none;
    width: 60px;
    height: 60px;
    margin: 3px;
    border: 1px solid #666666;
}

#body input.input.input-button.square:not(.disabled):hover {
    background-color: #3a3a3a;
    border: 1px solid #6b6b6b;
}

#body input.input.input-button.default:active {
    border-color: #2798eb;
    background-color: #2798eb;
    transform: translateY(1px);
}

#body input.input.input-button.dashed:active {
    border-color: #fafafa;
    background-color: #2798eb;
    transform: translateY(1px);
}

#body input.input.input-button.square:active {
    border-color: #2798eb;
    background-color: #2798eb;
    transform: translateY(1px);
}

#body input.input.input-button.disabled {
    border-color: #666666;
    background-color: #434343;
    color: #777777;
}

/* Select */

#body .input-select-container.mac select.input.input-select {
    width: 152px;
}

#body .input-select-container.mac.large select.input.input-select {
    width: 372px;
    position: relative;
    left: 0px;
    top: -1.5px;
}

#body .input-select-container.windows select.input.input-select {
    width: 148px;
    position: relative;
    left: 4px;
    top: -2px;
}

#body .input-select-container.windows select.input.input-select option {
    color: black;
}

#body .input-select-container.windows:not(.large) select.input.input-select {
    top: -0.5px;
}

#body .input-select-container.windows:not(.large) {
    width: 148px;
}

#body .input-select-container.windows.large {
    padding-left: 1px;
    padding-right: 3px;
}

#body .input-select-container.windows.large select.input.input-select {
    width: 368px;
}

#body .input-select-container.empty select.input.input-select {
    color: #bbbbbb;
}

/* Asset info */

#body .asset-info {
    position: absolute;
    right: 310px;
    top: 30px;
    z-index: 100;
    max-width: 200px;
    color: black;
    background-color: rgba(255,255,255,0.3);
    border-radius: 1px;
    font-size: 10px;
    padding: 10px 13px 10px 13px;
    margin: -20px 0 0 2px;
}

#body .asset-info > * {
    max-width: 190px;
}

#body .asset-info:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 0px;
    border: 4px solid;
    border-color: rgba(255,255,255,0.3) rgba(255,255,255,0.3) transparent transparent;
    transform-origin: bottom right;
    transform: translateY(10px) scaleY(0.6) rotate(45deg);
}

/* Menu info */

#body .menu-info {
    position: absolute;
    left: 0px;
    z-index: 100;
    max-width: 200px;
    color: black;
    background-color: white;
    border-radius: 1px;
    font-size: 10px;
    padding: 5px 8px 5px 8px;
}

#body .menu-info.mac {
    margin: -19px 0 0 2px;
}

#body .menu-info.windows {
    margin: 4px 0 0 2px;
}

#body .menu-info:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    border: 4px solid;
    border-color: white transparent transparent white;
    transform-origin: bottom left;
    transform: translateY(6px) scaleY(0.6) rotate(-45deg);
}

/* Overlay */

#body .overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

/* Links */

#body a {
    color: #AAAAAA;
    text-decoration: underline;
    cursor: pointer;
}

/* Install link */

#body .install-link {
    color: #AAAAAA;
    position: absolute;
    left: 75px;
    top: 0;
    white-space: nowrap;
}

/* Dialog */

#body .overlay .dialog {
    margin-bottom: 10%;
    min-width: 400px;
}

#body .overlay .dialog .dialog-title {
    background-color: #4f4f4f;
    border: 1px solid #383838;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
}

#body .overlay .dialog .dialog-content {
    background-color: #4a4a4a;
    border: 1px solid #383838;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    padding: 10px 10px;
}

#body .overlay .dialog .dialog-content .message {
    font-size: 11px;
}

#body .overlay .dialog .dialog-content .message .line {
    padding: 1px 0;
}

#body .overlay .dialog .dialog-content .prompt-choices .input-button {
    margin-left: 3px;
    margin-right: 3px;
}

#body .overlay .dialog .dialog-content .prompt-text .input-button {
    margin-left: 3px;
    margin-right: 3px;
}

#body .overlay .dialog .dialog-content .title {
    padding: 6px 10px 10px 6px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

#body .overlay .dialog .dialog-content .title:not(:first-of-type) {
    margin-top: 20px;
}

#body .overlay .dialog.large {
    width: 600px;
    max-width: 600px;
}

#body .overlay .dialog.large .dialog-content .description {
    font-size: 10px;
    margin: 0 auto 8px 171px;
    color: #aaaaaa;
    text-align: left;
    max-width: 350px;
}

#body .overlay .dialog.large .dialog-content .field-content {
    font-size: 11px;
    margin: 0 auto 8px 171px;
    text-align: left;
    max-width: 350px;
}

/* Inline */

#body .inline {
    display: inline-block;
}

/* Separator */

#body .separator {
    border-bottom: 1px solid #444444;
}

#body .leftside .ceramic-separator {
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    height: 1px;
    margin: 0px 8px 8px 8px;
}

/* Ceramic icon */

#body .ceramic-icon {
    display: block;
    text-align: center;
    margin: 6px 7px;
    padding: 4px 7px;
    max-width: 14px;
    background-color: transparent;
    border: 1px solid transparent;
    opacity: 0.95;
}

#body .ceramic-icon:hover {
    background-color: #555555;
    border: 1px solid #8c8c8c;
    opacity: 1;
}

#body .ceramic-icon:active {
    background-color: #2798eb;
    border: 1px solid #2798eb;
    opacity: 1;
}

/* Left side button */

#body .leftside-button {
    display: block;
    text-align: center;
    height: 26px;
    width: 26px;
    color: #cccccc;
    border: 1px solid transparent;
    text-align: center;
    margin: 4px auto 0 auto;
    padding: 0 0 0 0;
}

#body .leftside-button.selected {
    background-color: #444444;
    border: 1px solid #7c7c7c;
    color: white;
}

#body .leftside-button:not(.selected):hover {
    background-color: #555555;
    border: 1px solid #8c8c8c;
    color: #fafafa;
}
