body, html {
    background-color: #282828 !important;
}

#root {
    background-color: #282828;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root *:not(input):not(textarea):not(.selectable)  {
    -webkit-user-select: none;
}

#root div,
#root span,
#root input,
#root label,
#root button,
#root i,
#root textarea {
    color: #f3f3f3;
    cursor: default;
}

#root .nolabel label {
    display: none;
}

#root .topnav {
    background-color: #4f4f4f;
    border-bottom: 1px solid #383838;
}

#root .statusbar {
    background-color: #4f4f4f;
    border-top: 1px solid #383838;
}

#root .leftside {
    background-color: #4f4f4f;
    border-right: 1px solid #383838;
}

#root .rightside {
    background-color: #4f4f4f;
    border-left: 1px solid #383838;
    min-height: 100%;
}

/* Panel tabs */

#root .panel-group {
    background-color: #424242;
}

#root .panel-group .panel-tab {
    background-color: #4f4f4f;
    display: inline-block;
    padding: 5px 10px;
    border-right: 1px solid #383838;
    border-bottom: 1px solid #4f4f4f;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 1px;
    margin-top: -1px;
    font-size: 11px;
}

#root .panel-group .panel-tab:not(.active) {
    background-color: #424242;
    color: #b0b0b0;
    border-bottom: 1px solid #383838;
}

#root .panel-group .panel-tab:not(.active):hover {
    background-color: #464646;
    color: #d0d0d0;
}

#root .panel-group .panel-content {
    border-top: 1px solid #383838;
    background-color: #4f4f4f;
    padding: 8px 10px;
}

/* Input */

#root .field {
    display: block;
    margin-bottom: 4px;
}

#root .field label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 10px;
    font-size: 11px;
}

#root .field .field-input {
    display: inline-block;
}

#root input.input {
    background-color: #454545;
    border: 1px solid #666666;
    cursor: text;
    outline: none;
    padding: 0px 4px;
    width: 80px;
    font-size: 11px;
}

#root input.input:focus {
    border-color: #2798eb;
}